{% extends 'blog/base.html' %}
{% block content %}
{% load crispy_forms_tags %}
<div class="content-section">
    <form id='form1' method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Blog Post</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button id='btn1' class="btn btn-outline-info" type="submit">
                Post
            </button>
        </div>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script>
    var token = '{{csrf_token}}';

    $(document).ready(function () {
        $(window).on("beforeunload", function () {
            $.ajax({
                headers: { "X-CSRFToken": token },
                type: "POST",
                data: $('#form1').serialize(),
                url: "/post/save_draft/",
                dataType: "json",
                success: function (data) {
                    console.log('Clicked');
                },
            });
        });
    });
</script>
{% endblock %}